<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contendor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Calculadora</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex, tempora, reiciendis quod nemo quaerat magnam laboriosam perspiciatis sed sit voluptatum voluptate perferendis. Ut similique ipsum neque distinctio cumque inventore?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyecto/Calculadora.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>